# Creating Sankey diagram with 3 different data

In [1]:
import json, urllib
import chart_studio.plotly as py
import pandas as pd
import numpy as np
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

## List of cities I visited.

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Sankey(
    node = dict(
      pad = 15,
      thickness = 20,
      line = dict(color = "black", width = 0.5),
      label = ["City1", "City2", "City3", "City4", "City6","City7","City8","City9"],
      color = "blue"
    ),
    link = dict(
      source = [0,1,2,3,2,4,2,5,2,2], # indices correspond to labels, eg A1, A2, A1, B1, ...
      target = [1,2,3,2,4,2,5,2,6,7],
      value =  [1,1,1,1,1,1,1,1,1,1]
  ))])

fig.update_layout(title_text="List of cities I visited.", font_size=10)
plot(fig,
     image_filename='sankey_plot_1', 
     image='png', 
     image_width=1000, 
     image_height=600
)
fig.show()

![1](1.png)

##  Sankey from csv

In [2]:
df = pd.read_csv ('ulkes.csv')
df

         Source       Target  Value
0        Brazil     Portugal      1
1        Brazil       France      1
2        Brazil        Spain      1
3        Brazil      England      1
4        Canada     Portugal      1
5        Canada       France      1
6        Canada      England      1
7        Mexico     Portugal      1
8        Mexico       France      1
9        Mexico        Spain      1
10       Mexico      England      1
11          USA     Portugal      1
12          USA       France      1
13          USA        Spain      1
14          USA      England      1
15     Portugal       Angola      1
16     Portugal      Senegal      1
17     Portugal      Morocco      1
18     Portugal  SouthAfrica      1
19       France       Angola      1
20       France      Senegal      1
21       France         Mali      1
22       France      Morocco      1
23       France  SouthAfrica      1
24        Spain      Senegal      1
25        Spain      Morocco      1
26        Spain  SouthAfrica      1
27      England       Angola      1
28      England      Senegal      1
29      England      Morocco      1
30      England  SouthAfrica      1
31  SouthAfrica        China      1
32  SouthAfrica        India      1
33  SouthAfrica        Japan      1
34       Angola        China      1
35       Angola        India      1
36       Angola        Japan      1
37      Senegal        China      1
38      Senegal        India      1
39      Senegal        Japan      1
40         Mali        China      1
41         Mali        India      1
42         Mali        Japan      1
43      Morocco        China      1
44      Morocco        India      1
45      Morocco        Japan      1

In [3]:
c=df
del c["Value"]

In [4]:
c=c.values

In [5]:
node_label=[]
for i in c:
    for ii in i:
        if ii not in node_label:
            node_label.append(ii)

In [6]:
node_label

['Brazil',
 'Portugal',
 'France',
 'Spain',
 'England',
 'Canada',
 'Mexico',
 'USA',
 'Angola',
 'Senegal',
 'Morocco',
 'SouthAfrica',
 'Mali',
 'China',
 'India',
 'Japan']

In [7]:
#node_label = ["A1", "A2", "B1", "B2","B3", "C1", "C2"]
node_dict = {y:x for x, y in enumerate(node_label)}
node_dict
# {'A1': 0, 'A2': 1, 'B1': 2, 'B2': 3, 'B3': 4, 'C1': 5, 'C2': 6}

{'Angola': 8,
 'Brazil': 0,
 'Canada': 5,
 'China': 13,
 'England': 4,
 'France': 2,
 'India': 14,
 'Japan': 15,
 'Mali': 12,
 'Mexico': 6,
 'Morocco': 10,
 'Portugal': 1,
 'Senegal': 9,
 'SouthAfrica': 11,
 'Spain': 3,
 'USA': 7}

In [8]:

df = pd.read_csv ('ulkes.csv')

source = df["Source"]
target = df["Target"]
values = df["Value"]
source_node = [node_dict[x] for x in source]
target_node = [node_dict[x] for x in target]

In [ ]:
import plotly.graph_objects as go # Import the graphical object

fig = go.Figure( 
    data=[go.Sankey( # The plot we are interest
        # This part is for the node information
        node = dict( 
            label = node_label
        ),
        # This part is for the link information
        link = dict(
            source = source_node,
            target = target_node,
            value = values
        ))])

# With this save the plots 
plot(fig,
     image_filename='sankey_plot_1', 
     image='png', 
     image_width=1000, 
     image_height=600
)
# And shows the plot
fig.show()

![2](2.png)

## Display of Syrian refugee numbers with Sankey diagram

In [9]:
df = pd.read_csv ('suria.csv')
df

   Source          Target    Value
0   Syria          Turkey  3643700
1   Syria     Switzerland    12931
2   Syria         Algeria    43000
3   Syria       Argentina     3000
4   Syria         Armenia    22000
5   Syria       Australia     6000
6   Syria         Austria    45827
7   Syria         Bahrain     3500
8   Syria         Belgium    16986
9   Syria          Brazil     9000
10  Syria        Bulgaria    17527
11  Syria          Canada    62000
12  Syria         Croatia    55000
13  Syria          Cyprus     3527
14  Syria         Denmark    19433
15  Syria           Egypt   130074
16  Syria         Finland     6232
17  Syria          France    11694
18  Syria         Germany   770000
19  Syria          Greece    54574
20  Syria         Hungary    72505
21  Syria            Iraq   247440
22  Syria           Italy     2538
23  Syria          Jordan  1265000
24  Syria         Lebanon  2200000
25  Syria           Libya    26672
26  Syria        Malaysia     5000
27  Syria           Malta     1222
28  Syria      Montenegro     2975
29  Syria     Netherlands    31963
30  Syria  NorthMacedonia     2150
31  Syria          Norway    13993
32  Syria           Qatar    54000
33  Syria         Romania     2525
34  Syria          Russia     7096
35  Syria          Serbia    11831
36  Syria       Singapore    13856
37  Syria         Somalia     1312
38  Syria           Spain     8365
39  Syria           Sudan  250,000
40  Syria          Sweden   122087
41  Syria         Tunisia     4000
42  Syria             UAE   100000
43  Syria   UnitedKingdom   10,583
44  Syria    UnitedStates    16218
45  Syria           Yemen  100,000

In [10]:
c=df
del c["Value"]
c=c.values
node_label=[]
for i in c:
    for ii in i:
        if ii not in node_label:
            node_label.append(ii)
node_label

['Syria',
 'Turkey',
 'Switzerland',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Bulgaria',
 'Canada',
 'Croatia',
 'Cyprus',
 'Denmark',
 'Egypt',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iraq',
 'Italy',
 'Jordan',
 'Lebanon',
 'Libya',
 'Malaysia',
 'Malta',
 'Montenegro',
 'Netherlands',
 'NorthMacedonia',
 'Norway',
 'Qatar',
 'Romania',
 'Russia',
 'Serbia',
 'Singapore',
 'Somalia',
 'Spain',
 'Sudan',
 'Sweden',
 'Tunisia',
 'UAE',
 'UnitedKingdom',
 'UnitedStates',
 'Yemen']

In [11]:
node_dict = {y:x for x, y in enumerate(node_label)}
node_dict

{'Algeria': 3,
 'Argentina': 4,
 'Armenia': 5,
 'Australia': 6,
 'Austria': 7,
 'Bahrain': 8,
 'Belgium': 9,
 'Brazil': 10,
 'Bulgaria': 11,
 'Canada': 12,
 'Croatia': 13,
 'Cyprus': 14,
 'Denmark': 15,
 'Egypt': 16,
 'Finland': 17,
 'France': 18,
 'Germany': 19,
 'Greece': 20,
 'Hungary': 21,
 'Iraq': 22,
 'Italy': 23,
 'Jordan': 24,
 'Lebanon': 25,
 'Libya': 26,
 'Malaysia': 27,
 'Malta': 28,
 'Montenegro': 29,
 'Netherlands': 30,
 'NorthMacedonia': 31,
 'Norway': 32,
 'Qatar': 33,
 'Romania': 34,
 'Russia': 35,
 'Serbia': 36,
 'Singapore': 37,
 'Somalia': 38,
 'Spain': 39,
 'Sudan': 40,
 'Sweden': 41,
 'Switzerland': 2,
 'Syria': 0,
 'Tunisia': 42,
 'Turkey': 1,
 'UAE': 43,
 'UnitedKingdom': 44,
 'UnitedStates': 45,
 'Yemen': 46}

In [12]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
df = pd.read_csv ('suria.csv')

source = df["Source"]
target = df["Target"]
values = df["Value"]
source_node = [node_dict[x] for x in source]
target_node = [node_dict[x] for x in target]

In [ ]:
import plotly.graph_objects as go 

fig = go.Figure( 
    data=[go.Sankey(
        node = dict( 
            label = node_label
        ),
     
        link = dict(
            source = source_node,
            target = target_node,
            value = values
        ))])


plot(fig,
     image_filename='sankey_plot_1', 
     image='png', 
     image_width=1000, 
     image_height=600
)
# And shows the plot
fig.show()

![3](3.png)